.delay-input {
	position: relative;

	input {
		padding-right: 27px;
	}

	.loading-spinner {
		position: absolute;
		right: 4px;
		top: 5px;
		transition: all .2s ease-in-out
	}

	.clear-value {
		position: absolute;
		right: 6px;
		top: 11px;
		transition: all .2s ease-in-out
	}
}

.digits-3 {
	width: 52px !important;
}