.delay-input {
    position: relative;
	input {
		padding-right: 27px;
	}
	.loading-spinner {
		position: absolute;
		right: 4px;
		top: 5px;
		transition: all .2s ease-in-out
	}
}

.digits-3 {
	width: 52px !important;
}
